:root {
    --tp-theme-color: #358CEF;
    --tp-heading-color: #17181D;
    --tp-heading-color-2: #24262D;
    --tp-heading-color-3: #281D1B;
    --tp-white-color: #fff;
    --tp-black-color: #000;
    --tp-grey-color: #F6F7F9;
    --tp-grey-color-2: #B3BAC6;
    --tp-grey-color-3: #565F73;
    --tp-grey-color-4: #687387;
    --tp-grey-color-5: #D7DAE0;
    --tp-rom-color: #FDF3F3;
    --tp-orange-color: #FF5B15;
    --tp-red-color: #DD5454;
}