.rell-container {
    max-width: 1196px;
}

.rell-header h2 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin-bottom: 6px;
}

.rell-header p {
    font-weight: 400;
    font-size: 16px;
    color: #565F73;
}

.tab-btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tab-btn button {
    font-weight: 400;
    font-size: 14px;
    color: #3D434F;
    background: #F6F7F9;
    border-radius: 4px;
    padding: 0px 16px;
    height: 40px;
    border: 1px solid transparent;
    white-space: nowrap;
}

.tab-btn button.active {
    background: #FDF3F3;
    border: 1px solid #DD5454;
    color: #000;
}

.short-rell {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-height: 824px;
    overflow-y: scroll;
    scrollbar-width: none;
}


.short-rell .video img {
    width: 28px;
    height: 28px;
}


.short-rell .video {
    border-radius: 8px;
    overflow: hidden;
}

.short-rell .video {
    height: 400px;
}

.short-rell .video video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.short-rell-2 .video video {
    border-radius: 16px;
    width: 450px;
    height: 620px;
}

.short-rell-2 .video {
    border-radius: 16px;
    width: 450px;
    height: 620px;
}

.video_dic {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.2) 80%,
            rgba(0, 0, 0, 0.0) 100%);
    bottom: 0;
    left: 0;
    padding-bottom: 6px !important;
    padding-top: 20px !important;
    width: 100%;
}

.video_dic .name h4 {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}

.video_dic .name i {
    font-size: 16px;
    font-style: normal;
}

.video_dic .name span {
    font-size: 12px;
    font-weight: 500;
}

.video_dic .title h5 {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-top: 6px;
    line-height: 1.5;
}

.video_dic .has-tag a {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding-bottom: 4px;
}

/* .video_dic .has-tag {
    border-bottom: 1.5px solid #fff;
} */

.video_dic .rell-opinion a {
    font-weight: 400;
    font-size: 14px;
    color: #F6F7F9;
    display: flex;
    align-items: center;
    gap: 3px;
}

.video_dic .rell-opinion {
    padding-top: 6px;
}

.p-12 {
    padding: 12px;
}

.play_btn.active,
.play_btn {
    width: 56px;
    height: 56px;
    background: rgba(255, 255, 255, 0.4) !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* hover effect */
.play_btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

/* active state */
.play_btn.active {
    background: rgba(0, 0, 0, 0.6);
}

/* icon animation */
.play_btn i {
    transition: all 0.3s ease;
}

/* rotate animation when active */
.play_btn.active i {
    transform: rotate(180deg);
}


.play_btn {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

/* hidden state */
.play_btn.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.8);
}

.create-share {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #FDF3F3;
    padding: 20px;
    border-radius: 8px;
}

.create-share .title {
    font-weight: 500;
    font-size: 18px;
    color: #17181D;
    margin-bottom: 8px;
}

.create-share p {
    font-weight: 400;
    font-size: 16px;
    color: #687387;
    line-height: 1.3;
    margin-bottom: 22px;
}

.uplode_rell .upload-btn {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: #DD5454;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    cursor: pointer;
    gap: 8px;
    border: 1px solid #dd545400;
    transition: .2s linear;
}

.uplode_rell .upload-btn:hover {
    border: 1px solid #DD5454;
    background: transparent;
    color: #DD5454;
}


.rell_trending_hashtags {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #fcfcfc;
}

.trending-title {
    font-weight: 500;
    font-size: 18px;
    color: #17181D;
    margin-bottom: 24px;
}

.hashtag-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hashtag-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* The Blue # Icon Box */
.hash-icon-box {
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #f0f5ff;
    color: #067BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.hash-name {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #444e5e;
}

.hash-count {
    font-size: 14px;
    color: #717d8e;
    font-weight: 400;
}

.hashtag-item:hover .hash-name {
    color: #067BFF;
    cursor: pointer;
}





.new_to_reels {
    /* Tomar dewa specifications */
    background: #fcfcfc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.reels-card-title {
    font-weight: 500;
    font-size: 18px;
    color: #17181D;
    margin: 0;
}

.reels-card-text {
    font-size: 15px;
    color: #5a6679;
    line-height: 1.6;
    margin: 0;
}

.reels-card-link {
    color: #067BFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;
    margin-top: 8px;
}

.reels-card-link:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* SVG Arrow alignment */
.reels-card-link svg {
    margin-left: 5px;
}





/* dark mode css */

body.dark-mode .new_to_reels,
body.dark-mode .rell_trending_hashtags,
body.dark-mode .create-share {
    background-color: var(--tp-heading-color-2);
    color: var(--tp-white-color);
}

body.dark-mode .rell-header h2,
body.dark-mode .reels-card-title,
body.dark-mode .hash-name,
body.dark-mode .trending-title,
body.dark-mode .create-share .title {
    color: var(--tp-white-color);
}

body.dark-mode .uplode_rell .upload-btn:hover {
    color: #DD5454;
}

body.dark-mode .btn.btn-draft-1,
body.dark-mode .br-modal-header {
    color: #000;
}

body.dark-mode #rell__uplode label {
    color: #000;
}

body.dark-mode .btn.btn-cancel:hover,
body.dark-mode .btn.btn-preview:hover {
    color: #DD5454;
    border: 1px solid #DD5454;
}

body.dark-mode .hash-icon-box {
    background: #000;
}

body.dark-mode .tab-btn button {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(221, 221, 221, 0.356);
}

body.dark-mode .tab-btn button.active {
    border: 1px solid #DD5454;
}

body.dark-mode .img-name span,
body.dark-mode .rell-header p,
body.dark-mode .create-share p,
body.dark-mode .reels-card-text,
body.dark-mode .hash-count {
    color: #b6b8bc;
}

body.dark-mode .cover-box,
body.dark-mode .tag span {
    background: #000000;
    color: #fff !important;
    border: none;
}

body.dark-mode .rell-details-card {
    background: #17181D;
    color: #fff !important;
}

body.dark-mode .btn-draft,
body.dark-mode .rell-details-card h3 {
    color: #ffffff;
}

body.dark-mode .btn-draft:hover {
    background: transparent;
    border: 1px solid #dddddd7e;
}



body.dark-mode .rell-details-card h5,
body.dark-mode .rell-details-card h6 {
    color: #ffffff;
}

body.dark-mode .rell-details-card p {
    color: #ffffffa2;
}

/* responsive */
@media (max-width: 1450px) {
    .short-rell {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 1199px) {
    .short-rell {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 1199px) {
    .short-rell {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 991px) {
    .short-rell {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .short-rell {
        max-height: 415px;
    }

    .short-rell-2 {
        max-height: 500px;
        overflow: hidden;
    }

    .short-rell-2 .video {
        height: 500px;
        width: 100%;
    }

    .short-rell-2 .video video {
        height: 500px;
        width: 100%;
    }

    .rell-details-card {
        width: 100% !important;
        max-width: 100% !important;
    }



    .rell-body .col-md-6.col-lg-5.offset-lg-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .create-share p br {
        display: none;
    }

    .rell-details-card {
        margin-top: 16px;
        width: 100%;
    }

    .rell-details-card.mb-20 {
        margin-bottom: 0 !important;
    }

    .uplode_rell {
        flex-wrap: wrap;
        width: 100%;
    }

    .uplode_rell button {
        width: 100% !important;
    }
}

@media (max-width: 767px) {


    .create-share {
        margin-top: 16px;
    }

    .short-rell .video video {
        height: 500px;
    }

    .tab-btn button {
        padding: 0 10px;
        height: 36px;
    }

    .new_to_reels,
    .rell_trending_hashtags,
    .create-share {
        padding: 16px;
    }

    .cover-box {
        flex-wrap: wrap;
    }

    .edit-cover {
        margin-left: auto;
    }
}

@media (max-width: 580px) {
    .br-modal-footer {
        flex-wrap: wrap;
        gap: 12px;
    }

    .br-modal-footer .btn-cancel,
    .br-modal-footer .btn-draft,
    .br-modal-footer .btn-preview {
        width: 100%;
        white-space: nowrap;
    }

    .br-modal-footer .d-flex.gap-2 {
        width: 100%;
        flex-wrap: wrap;
    }
}


/* ========modal========= */
.modal_container {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 0 8px;
}

.modal_container.active {
    display: flex;
}

.modal_backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><g transform='rotate(45 16 16)'><circle cx='16' cy='16' r='1.5' fill='white' stroke='black' stroke-width='0.5'/><line x1='16' y1='0' x2='16' y2='32' stroke='white' stroke-width='2' stroke-linecap='round'/><line x1='0' y1='16' x2='32' y2='16' stroke='white' stroke-width='2' stroke-linecap='round'/><line x1='16' y1='0' x2='16' y2='32' stroke='white' stroke-width='0.5' stroke-linecap='round'/><line x1='0' y1='16' x2='32' y2='16' stroke='white' stroke-width='0.5' stroke-linecap='round'/></g></svg>") 16 16, crosshair;
    backdrop-filter: blur(2px);
}

.modal_content {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    width: max-content;
    height: max-content;
    z-index: 10;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease;
}


.modal_container.active .modal_content {
    opacity: 1;
    transform: scale(1);
}


/* modal content */

.br-upload-modal {
    max-width: 700px !important;
    width: 95% !important;
    background: #fff;
    border-radius: 12px;
    padding: 0 !important;
}

.br-modal-header {
    padding: 20px 24px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.br-modal-header h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

.br-modal-body {
    padding: 24px;
    height: 500px;
    overflow-y: scroll;
}

/* Upload Zone */
.br-upload-zone {
    display: block;
    border: 1px dashed #D1D5DB;
    background: #F9FAFB;
    border-radius: 8px;
    padding: 40px 20px;
    cursor: pointer;
}

.upload-main-icon {
    font-size: 2rem;
    color: #9CA3AF;
}

.btn-choose {
    background: #374151;
    color: #fff;
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 14px;
}

/* File Card */
.br-file-card {
    background: #F9FAFB;
    border: 1px solid #F3F4F6;
    padding: 12px;
    border-radius: 8px;
}

.btn-remove {
    background: none;
    border: none;
    color: #EF4444;
    font-size: 14px;
    font-weight: 500;
}

/* Success Alert */
.br-alert-success {
    background: #ECFDF5;
    color: #565F73;
    padding: 12px 16px;
    border-radius: 8px;
}

.section-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #374151;
}

/* Form Inputs */
.br-input {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
}

.br-input:focus {
    box-shadow: none;
    border-color: #D1D5DB;
    background: #fff;
}

/* Cover Upload Box */
.br-cover-upload {
    border: 1px dashed #D1D5DB;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #6B7280;
    font-size: 14px;
    cursor: pointer;
}

/* Footer Buttons */
.br-modal-footer {
    padding: 20px 24px;
    border-top: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.btn-cancel {
    background: #E5E7EB;
    color: #374151;
    font-weight: 600;
    padding: 10px 24px;
    transition: .2s linear;
    border: 1px solid #E5E7EB;
}

.btn-cancel:hover {
    border: 1px solid #E5E7EB;
    background: transparent;
}

.btn-draft {
    border: 1px solid #D1D5DB;
    color: #374151;
    background: transparent;
    font-weight: 600;
    padding: 10px 20px;
    transition: .2s linear;
    white-space: nowrap;
}


.btn-draft:hover {
    background: #D1D5DB;
    color: #000;
}

.btn-preview {
    background: #DD5454;
    color: #fff;
    font-weight: 600;
    padding: 10px 24px;
    border: 1px solid #DD5454 !important;
    border-radius: 6px;
    transition: .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-preview :hover {
    background: #d1d5db00;
    color: #DD5454;
    border: 1px solid #DD5454 !important;
}

.close-icon {
    background: none;
    border: none;
    color: #9CA3AF;
    font-size: 20px;
    transition: .3s linear;
}

.rell-dec-text-area {
    height: 80px !important;
}

.br-file-card video {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
}

.fs-30 {
    font-size: 30px;
    color: #4BB543;
}


.requirements-text {
    color: #4BB543;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

.gallery-photo-add {
    font-size: 16px;
    cursor: pointer;
}

.br-cover-upload label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.uplode-video-title {
    font-weight: 400;
    font-size: 16px;
    color: #4f4f4f;
}


.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.upload-box img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.3s;
}

.upload-box::before {
    content: "\f030";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    color: #fff;
    font-size: 22px;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.3s;
    z-index: 2;
}

.upload-box:hover::after {
    opacity: 1;
}

.upload-box:hover::before {
    opacity: 1;
    transform: scale(1);
}

.remove-cover {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--tp-white-color);
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    background: var(--Primary, #DD5454);
    width: 32px;
    height: 32px;
    line-height: 32px;
    z-index: 9;
    cursor: pointer;
}

/* icon only rotate */
.remove-cover i {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 19px;
}

/* hover */
.remove-cover:hover i {
    transform: rotate(90deg) scale(1.1);
}



/* Card Container */
.rell-details-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #fcfcfc;
    border-radius: 12px;
    padding: 20px;
    max-width: 500px;
    font-family: 'Inter', sans-serif;

}

.rell-details-card-2 {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #f6faff;
}

.rell-details-card-2 .check-name {
    color: #067BFF;
}

/* Titles & Labels */
.rell-details-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 24px;
}

.rell-details-card h5,
.rell-details-card h6 {
    font-size: 16px;
    font-weight: 500;
    color: #344054;
    margin-bottom: 8px;
    margin-top: 20px;
}

/* Caption Text */
.rell-details-card p {
    font-size: 15px;
    color: #475467;
    line-height: 1.5;
    margin-bottom: 4px;
}

/* Tags Styling */
.tag {
    margin-top: 24px;
}

.tag span {
    display: inline-block;
    background: #F9FAFB;
    border: 1px solid #EAECF0;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 14px;
    color: #344054;
    margin-right: 8px;
    margin-top: 4px;
}

/* Cover Section */
.cover {
    margin-top: 24px;
}

.cover-box {
    background: #F9FAFB;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.cover-box img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 16px;
}

.img-name span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #344054;
}

.img-name .date {
    font-size: 13px;
    color: #667085;
    margin-top: 0;
    font-weight: 400;
}

/* Edit Cover Link */
.cover {
    position: relative;
}

.cover a {
    position: absolute;
    right: 16px;
    bottom: 35px;
    font-size: 14px;
    font-weight: 600;
    color: #007BFF;
    text-decoration: none;
}

.cover a:hover {
    text-decoration: underline;
}








.video-progress {
    position: absolute;
    bottom: 38px;
    left: 5px;
    width: 95%;
    height: 2px;
    background: rgb(255 255 255 / 75%);
    cursor: pointer;
    z-index: 99;
    transition: width 0.1s linear;
}

.video-progress-bar {
    height: 100%;
    width: 0%;
    background: #DD5454;
    position: relative;
}

/* DOT */
.video-progress-bar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    background: #DD5454;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

/* show on hover */
.video-progress:hover .video-progress-bar::after {
    transform: translate(50%, -50%) scale(1);
}


.video-progress,
.video-progress * {
    user-select: none;
}

.video-time span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 8px;
    padding: 0 8px;
    height: 32px;
    gap: 6px;
    backdrop-filter: blur(8px);
    flex-direction: row-reverse;
}




.video-time span i {
    margin-top: -2px;
    transition: transform 0.7s linear;
}

/* spinning animation */
.video-time span.playing i {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.dis_title .toggle-btn {
    background: #007bff00;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 2px 10px;
    margin-left: -3px;
    position: relative;
    border-radius: 30px;
    transition: all 0.3s ease;
    overflow: hidden;
}

/* hover animation background effect */
.dis_title .toggle-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: left 0.4s ease;
}

/* hover */
.dis_title .toggle-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* sliding light effect */
.dis_title .toggle-btn:hover::before {
    left: 100%;
}

/* click effect */
.dis_title .toggle-btn:active {
    transform: scale(0.95);
}


.dis_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.dis_title .text-content {
    display: inline;
}

.dis_title .toggle-btn {
    flex-shrink: 0;
}




/*=========== Container Card ===========*/
.reel-checks-card {
    background: #FFFFFF;
    border: 1px solid #F2F4F7;
    border-radius: 12px;
    padding: 24px;
    max-width: 480px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 28px;
}

/* List Layout */
.check-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.check-item {
    display: flex;
    align-items: center;
}

.check-icon {
    color: #4BB543;
    margin-right: 16px;
    line-height: 1;
    font-size: 28px;
    font-weight: 300;
}

.check-icon i {
    color: #4BB543;
    line-height: 1;
    font-size: 30px;
    font-weight: 300;
}

.check-name {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 4px 0;
}

.check-status {
    font-weight: 400;
    font-size: 16px;
    color: #687387;
    margin: 0;
}

.check-item.failed .check-icon {
    color: #F04438;
}

.check-item.failed .check-name {
    color: #F04438;
}


.gap-16 {
    gap: 16px;
}

.w-50 {
    width: 50%;
}

.h-48 {
    height: 48px !important;
}



/* rtl mode */
.rtl-mode .cover a {
    right: auto;
    left: 16px;
}

.rtl-mode .cover-box img {
    margin-right: 0;
    margin-left: 16px;
}

.rtl-mode .check-icon {
    margin-right: 0;
    margin-left: 16px;
}


.rells__like a,
.rells__save a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    color: #777;
}

/* ===== LIKE ===== */
.rells__like a.liked {
    color: #ffffff;
}

.rells__like a.liked i {
    animation: pop 0.5s ease;
}

.rells__like a:active {
    transform: scale(0.96);
}

/* ===== SAVE ===== */
.rells__save a.saved {
    color: #fbbf24;
}

.rells__save a.saved i {
    animation: pop 0.4s ease;
}

/* ===== COMMON POP ANIMATION ===== */
@keyframes pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* ===== GLOW EFFECT ===== */
.rells__like a.liked::after,
.rells__save a.saved::after {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    animation: glow 0.5s ease;
}

/* different colors */
.rells__like a.liked::after {
    background: rgba(24, 118, 242, 0.637);
}

.rells__save a.saved::after {
    background: rgba(251, 191, 36, 0.3);
}

@keyframes glow {
    0% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

.rell-opinion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}


#rell__comment .modal_content {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 350px !important;
    border-radius: 0;
}

#rell__comment.modal_container.active .modal_content {
    right: 0;
}


.br-modal-header .close-icon {
    width: 35px;
    height: 35px;
    border: 2px solid #DD5454;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #DD5454;
    background: #DD5454;
    color: #fff;
}

/* hover effect */
.br-modal-header .close-icon:hover {
    background: transparent;
    color: #DD5454;
    border: 2px solid #DD5454;
}

/* smooth icon rotation feel */
.br-modal-header .close-icon i {
    transition: transform 0.3s ease;
}

.br-modal-header .close-icon:hover i {
    transform: rotate(180deg);
}



#rell__comment .rell__author {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

#rell__comment .br-modal-header {
    padding-left: 16px;
    padding-right: 16px;
}

#rell__comment .dis_title span {
    font-size: 14px;
    font-weight: 500;
}

#rell__comment .dis_title button {
    background: none;
    color: #000;
    margin-left: 0;
}

#rell__comment .dis_title button:hover {
    text-decoration: underline;
}



.author__follow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background: #1877f2;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.25s ease;
    border: 1px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 27px;
}

/* hover effect */
.author__follow:hover {
    background: #0f66d6;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(24, 119, 242, 0.25);
}

/* click effect */
.author__follow:active {
    transform: scale(0.96);
}

.rell-comment-modal-body {
    padding: 16px;
}


.rells__comment__top__content__tab__btn button {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;
    color: #777;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    margin-bottom: 20px;
}

/* hover */
/* .rells__comment__top__content__tab__btn button:hover {
    background: #1877f2;
    color: #fff;
    border-color: #1877f2;
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(24, 119, 242, 0.2);
} */

/* active / click */
.rells__comment__top__content__tab__btn button:active {
    transform: scale(0.96);
}

.rells__comment__main__content .author a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}

.rells__comment__main__content .author a {
    flex: 0 0 auto;
}


.rells__comment__main__content .author__comment {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #f7f6f6;
    padding: 10px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.rells__comment__main__content .author__comment .author_name {
    font-size: 14px;
    font-weight: 600;
}

.rells__comment__main__content .author__comment .dis_title {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
}

.rells__comment__main__content .author__comment .dis_title span {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
}



.author__comment_info {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-left: 60px;
    font-size: 14px;
}

.author__comment_info i {
    color: #000;
    font-style: normal;
}

.author__comment_info .rells__like a span {
    color: #000;
    font-style: normal;
    margin-left: -4px !important;
}

.rells__comments_reply {
    cursor: pointer;
}

#comment__reply__dropdown.dropdown__menu .rells__comment__main__content .author__comment {
    background: #8ca5ff2b;
}

#comment__reply__dropdown.dropdown__menu {
    position: inherit;
    left: -73px;
    top: 12px;
    margin-top: 0;
    width: 100%;
    min-width: 270px;
    background-color: #ffffff00;
    border: 1px solid #e5e7eb00;
    border-radius: 0;
    box-shadow: none;
    z-index: 50;
    overflow: hidden;
}


.rell_reply_textarea {
    width: 180px !important;
    margin-top: -16px;
}

.rell_reply_textarea textarea {
    width: 100%;
    height: 48px !important;
    padding: 12px 14px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: all 0.25s ease;
    background: #fff;
    color: #111;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04); */
    overflow-y: scroll !important;
    scrollbar-width: none;
}

.rell_reply_textarea {
    position: relative;
}

.rell_reply_textarea textarea {
    padding: 12px 25px 12px 12px;
}

/* send button */
.send-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
}

.send-btn:hover {
    transform: scale(1.1);
}

.send-btn i {
    font-size: 14px;
}

/* focus effect */
.rell_reply_textarea textarea:focus {
    border-color: #DD5454;
    /* your theme red */
    /* box-shadow: 0 0 0 4px rgba(221, 84, 84, 0.15); */
    transform: translateY(-1px);
}

/* placeholder style */
.rell_reply_textarea textarea::placeholder {
    color: #9ca3af;
    font-size: 13px;
}

/* hover subtle effect */
.rell_reply_textarea textarea:hover {
    border-color: #cbd5e1;
}



.rell_reply_textarea {
    display: none;
}

.rell_reply_textarea.show {
    display: block;
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}








#comment__reply__dropdown.dropdown__menu .rells__comment__main__content {
    margin-bottom: 10px;
}

#comment__reply__dropdown.dropdown__menu {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    padding: 0;
    left: -50px;
    top: -3px;
    margin-bottom: 16px;
    scrollbar-width: none !important;
    min-width: auto;
    width: 250px;
}


.rell_main_comment textarea {
    width: 100%;
    height: 50px !important;
    padding: 12px 14px;
    border-radius: 12px;
    background: #f3f4f6;
    border: 2px solid #f3f4f6;
    outline: none;

    font-size: 14px;
    color: #111;

    transition: all 0.25s ease;
    overflow-y: scroll !important;
    scrollbar-width: none;
    padding-right: 50px;
}

/* focus effect */
.rell_main_comment textarea:focus {
    background: #ffffff;
    border-color: #DD5454;
}

/* placeholder style */
.rell_main_comment textarea::placeholder {
    color: #9ca3af;
    font-size: 13px;
}

/* hover subtle effect */
.rell_main_comment textarea:hover {
    background: #ffffff;
}

/* smooth feel */
.rell_main_comment textarea {
    transition: all 0.3s ease;
}


.rell_main_comment {
    width: 100%;
}


.br-modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
}






.rell_main_comment {
    position: relative;
}

.rell_main_comment .comment-send-btn {
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translateY(36%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #DD5454;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease;
}

/* hover effect */
.rell_main_comment .comment-send-btn:hover {
    background: #c93f3f;
}

/* click effect */
.rell_main_comment .comment-send-btn:active {
    transform: scale(0.95);
}

/* icon animation */
.rell_main_comment .comment-send-btn i {
    transition: transform 0.3s ease;
    font-size: 14px;
}


.rell-comment-modal-body {
    max-height: 68vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.author_name .title h5 {
    font-size: 14px;
    font-weight: 500;
}



.like-btn.active i,
.like-btn.active span {
    color: #DD5454 !important;
    font-weight: 600;
}


.rell__author .chat-back-btn {
    display: none !important;
}

#rells__share .modal_content {
    max-width: 500px !important;
}





/* .modal_container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
} */

.modal_content {
    width: 380px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    animation: pop .25s ease;
}

@keyframes pop {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.br-modal-header {
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.br-modal-header h4 {
    font-size: 16px;
    font-weight: 600;
}

.close-icon {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

/* input */
.share-input-box {
    display: flex;
    padding: 14px;
    gap: 8px;
}

.share-input-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 13px;
}

.share-input-box button {
    width: 42px;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
    cursor: pointer;
}



/* ================= GRID ================= */
.share-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    padding: 14px;
}

/* ================= BASE ================= */
.share-item {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 14px;
    text-decoration: none;

    position: relative;
    overflow: hidden;

    transition: transform .25s ease, box-shadow .25s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

/* icon */
.share-item i {
    font-size: 18px;
    transition: transform .25s ease;
}

/* hover ONLY animation (no bg change) */
.share-item:hover i {
    animation: popUp .4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@keyframes popUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15) rotate(-8deg);
    }

    100% {
        transform: scale(1.05);
    }
}

/* ================= BRAND COLORS (ICON + BG SAME STYLE) ================= */

/* Facebook */
.facebook {
    background: #1877F2;
}

.facebook i {
    color: #fff;
}

/* WhatsApp */
.whatsapp {
    background: #25D366;
}

.whatsapp i {
    color: #fff;
}

/* Messenger */
.messenger {
    background: #0099FF;
}

.messenger i {
    color: #fff;
}

/* Twitter (X style old blue) */
.twitter {
    background: #1DA1F2;
}

.twitter i {
    color: #fff;
}

/* Telegram */
.telegram {
    background: #0088CC;
}

.telegram i {
    color: #fff;
}

/* LinkedIn */
.linkedin {
    background: #0A66C2;
}

.linkedin i {
    color: #fff;
}

/* Instagram */
.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.instagram i {
    color: #fff;
}

/* Reddit */
.reddit {
    background: #FF4500;
}

.reddit i {
    color: #fff;
}

/* Pinterest */
.pinterest {
    background: #E60023;
}

.pinterest i {
    color: #fff;
}

/* TikTok */
.tiktok {
    background: #000;
}

.tiktok i {
    color: #fff;
}

/* Snapchat */
.snapchat {
    background: #FFFC00;
}

.snapchat i {
    color: #000;
}

/* Skype */
.skype {
    background: #00AFF0;
}

.skype i {
    color: #fff;
}

/* Discord */
.discord {
    background: #5865F2;
}

.discord i {
    color: #fff;
}

/* YouTube */
.youtube {
    background: #FF0000;
}

.youtube i {
    color: #fff;
}

/* Email */
.email {
    background: #444;
}

.email i {
    color: #fff;
}

/* Copy */
.copy {
    background: #333;
}

.copy i {
    color: #fff;
}




.rell_reply_textarea .send-btn {
    background: none !important;
}

.video_dic .dis_title {
    max-height: 65px;
    overflow-y: scroll;
    scrollbar-width: none;
}